@import 'bootstrap';
@import 'biography';
@import 'footer';
@import 'modal';
@import 'cards';

body {
  min-height: 100vh;
  padding-bottom: 72px;
  position: relative;
}

.navbar .container-fluid {
  padding: 0 .5rem;
}